body {
  background: #006A4D;
  background: radial-gradient(circle,#013e2e 0%, #000000 100%);
  color: white;
}
th {
  background-color: #00381e;
  color: white;
}
form {
  border-style: inset;
  border: 2px solid #00381e;
  border-radius: 5px;
  padding: 25px;
  background-color: #0e2300;
  color: white;
}
input[type=text] {
  background-color: #00381e;
  border-style: inset;
  border: 2px solid #69BE28;
  border-radius: 5px;
  color: white;
}
input[type=date] {
  background-color: #00381e;
  border-style: inset;
  border: 2px solid #69BE28;
  border-radius: 5px;
  color: white;
}
select option  {
  background-color: #00381e;
  border-style: inset;
  border: 2px solid #69BE28;
  border-radius: 5px;
  color: white;
}
select.form-control {
    background-color: #00381e;
    border-style: inset;
  border: 2px solid #69BE28;
  border-radius: 5px;
    color: white;
}
select.form-control option:focus {
    border-color: #198754;
    border-style: inset;
    border: 2px solid #69BE28;
    border-radius: 5px;
    box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}
